<!DOCTYPE html>
<html lang="en">
<head>
  <title>bandbaja.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
    <div>
   <nav class="navbar navbar-inverse" role="navigation" style="background-color:black">
       <div class="navbar-header">
           <img src="~/Content/logoweb.jpg" style="width:150px; height:140px" />
       </div>
       <ul class="nav navbar-nav pull-right pull-bottom">
           @if(Session["cname"] != null)
           {
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@Session["cname"]<span class="caret"></span></a>
                  <ul class="dropdown-menu nav">
                      <li><a href="~/Home/AccountSetting"><span class="glyphicon glyphicon-wrench"></span> Account Setting</a></li>
                      <li><a href="~/Home/CustomerSignOut"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
                  </ul>
              </li>
               if (Session["msg"] == null)
               {
                   Session["msg"] = 0;
               }
               <li><a href="~/Home/Messages"><span class="glyphicon glyphicon-envelope">(@Session["msg"])</span></a></li>
           }
           else if(Session["uname"] != null)
           {
               <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@Session["uname"]<span class="caret"></span></a>
                  <ul class="dropdown-menu nav">
                      <li><a href="~/Home/AccountSetting"><span class="glyphicon glyphicon-wrench"></span> Account Setting</a></li>
                      <li><a href="~/ShopHome/SignOut"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
                  </ul>
              </li>
               if (Session["msg"] == null)
               {
                   Session["msg"] = 0;
               }
               <li><a href="~/Home/Messages"><span class="glyphicon glyphicon-envelope">(@Session["msg"])</span></a></li>
           }
           else
           {
              <li>@Html.ActionLink("SignUp/Login", "CustomerSignUp", new {signType = "homePage"})
              </li>
           }
          </ul>
   </nav>
        </div>

                @*Menubar*@

    <div style="margin-top:0px">
    <nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    @*<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>*@
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="~/Users/Create">Create Profile for Perfect Match</a></li>
      <li><a href="~/Halls/Index">Marraige Halls</a></li> 
      <li><a href="~/Dowry/All_Items">Dowry Shopping</a></li>
      <li><a href="#">Tour Managing</a></li> 
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wedding Organizers
        <span class="caret"></span></a>
        <ul class="dropdown-menu nav">
          <li><a href="ShopHome/Index">Shopping Organizers</a></li>
          <li><a href="#">Marriage Hall Organizers</a></li>
          <li><a href="#">Tour Managing Organizers</a></li> 
        </ul>
      </li>
    </ul>
  </div>
</nav>
        </div>

                @*slider*@

                <div style="margin-top:5%">
            @RenderBody();
        </div>
</div>
        <div class="col-xs-1"></div>
        </div>
</body>
</html>

